<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cs.c301.project"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="7" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name="cs.c301.project.PhotoApplication"
        android:icon="@drawable/ic_launcher"
        android:label="YouTrack" >
        <activity android:name="MainView" >
        </activity>
        <activity android:name="CameraView" >
        </activity>
        <activity android:name="PhotoCompare" >
        </activity>
        <activity android:name="SearchPhotoView" >
        </activity>
        <activity android:name="PartsListView" >
        </activity>
        <activity android:name="AdvancedSearch" >
        </activity>
        <activity android:name="PhotoReview" >
        </activity>
        <activity android:name="TagList" >
        </activity>
        <activity android:name="GroupList" >
        </activity>
        <activity android:name="PhotoSubView" >
        </activity>
        <activity android:name="TagView" >
        </activity>
        <activity android:name="PhotoDetails" >
        </activity>
        <activity android:name="settingView" >
        </activity>
        <activity android:name="LoginView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="PatientList"></activity>
        <activity android:name="settingView"></activity>
    </application>

</manifest>
